/dev/block/by-name/*        0660 root disk
/dev/input/*                0660 root input
/dev/graphics/*             0660 root graphics
/dev/ttyGS0                 0660 root shell
/dev/usb-ffs/adb/*          0660 shell shell
/dev/usb-ffs/fastboot/*     0660 system system
/dev/mtk_disp_mgr           0660 system graphics
/dev/ion                    0666 system system
/dev/mobicore               0666 root root
/dev/mobicore-user          0666 root root
